@charset "utf-8";
/* CSS Document */


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box; 
	transition: 0.3s all;
	font-family: 'Open Sans', sans-serif;
}
	   .col-1 {width: 8.333333333333333%; height: auto; float: left; padding: 15px;}
	   .col-2 {width: 16.66666666666667%; height: auto; float: left; padding: 15px;}
	   .col-3 {width: 25%; height: auto; float: left; padding: 15px;}
	   .col-4 {width: 33.33333333333333%; height: auto; float: left; padding: 15px;}
	   .col-5 {width: 41.66666666666667%; height: auto; float: left; padding: 15px;}
	   .col-6 {width: 50%; height: auto; float: left; padding: 15px;}
	   .col-7 {width: 58.33333333333333%; height: auto; float: left; padding: 15px;}
	   .col-8 {width: 66.66666666666667%; height: auto; float: left; padding: 15px;}
	   .col-9 {width: 75%; height: auto; float: left; padding: 15px;}
	   .col-10 {width: 83.33333333333333%; height: auto; float: left; padding: 15px;}
	   .col-11 {width: 91.66666666666667%; height: auto; float: left; padding: 15px;}
	   .col-12 {width: 100%; height: auto; float: left; padding: 15px;}
	   
	   .container-fluid{ width: 100%; }
	   
	   .container{max-width:1100px;margin: auto;}
	   
	   .img-fluid{width: 100%; height:auto;}
 
		.cl{clear:both;}
a {
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  text-decoration: none;
}


.banner_img{
	background-image:url("images/_Misty Forest -  - Canvas, Framed, Metal, or Acrylic - Free Shipping! Free 8x8__ Canvas with any purchase! (See Personalization Field)_.jpg");background-position: center;background-repeat: no-repeat;background-size: cover;
	padding:250px;
}
.banner_img h1{
	color: white;
	text-align: center;
	font-family: New Era Casual;
	font-size: 100px;
	 text-shadow:3px 0  2px green;
}
.banner_img h3{
	margin-top:-50px;
	color:limegreen;
	font-family: Comic Sans MS;
	position: absolute;
	z-index:1;
	margin-left:100px;
}
.logo img{
	width:100px;
	padding-left:30px;
	float: right;
	margin-top:-250px;
}
.menu a{
	color:black;
	padding-left:20px;
}
.menu{
	float: right;
	margin-top:-230px;
	font-weight: bold;
}
.banner_half{
border:2px solid white;
	background-color:white;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
	opacity: 1px;
	padding:50px;
	margin-top:-100px;
	margin-left: 1150px;
	color:black;
}
.banner_half img{
	width:300px;
}
.banner_half h2{
	margin-left:350px;
	margin-top:10px;
	font-family: Acumin Variable Concept;
	font-weight: bold;
	font-size:30px;
}
.banner_half p{
	margin-left: 350px;
	padding-top: 30px;
	font-family: Arial;
	font-size:20px;
}
.banner_half h6{
	margin-top: -300px;
	margin-left:350px;
	font-size:10px;
}
.why{
	margin-top: 200px;
	margin-bottom:200px;
}
.why p1{
	font-family: Baskerville Old Face;
	color: #00291b;
	font-size: 18px;
}
.why h1{
	padding-top:10px;
	font-family: Baskerville Old Face;
	font-size: 50px;
	color: #00291b;
}
.why p2{
	float: right;
	font-family: Baskerville Old Face;
	font-size:18px;
	color: #00291b;
	padding: 5px;
	margin-top:-150px;
}
.why img{
	width: 100px;
	margin-top:100px;
	border-radius:50px;
}
.why h2{
	margin-left:120px;
	margin-top:-80px;
	font-family: Baskerville Old Face;
	color: #00291b;
}
.why h4{
	margin-left:120px;
	font-family: Baskerville Old Face;
	color: #00291b;
}
.stay{
	background-color: #dddedb;
	text-align: center;
		color: #00291b;
	height:880px;
}
.stay h1{
	font-family: Baskerville Old Face;
	font-weight: 100px;
	padding-top: 100px;
	font-size:50px;
}
.stay p{
	font-family: Baskerville Old Face; 
	padding-top: 50px;
}
.stay img{
	width:200px;
	padding-top:80px;
}
.stay h2{
	  border: 1px solid white;
  margin: 45px 130px 45px 130px;
  background-color:#f3f3f3;
	margin-top:10px;
	font-family: Baskerville Old Face;
	color: #00291b;
}
.our{
	background-color: white;
	text-align: center;
	margin-top:100px;
	
}
.our h1{
	font-family: Baskerville Old Face;
	color: #00291b;
	font-size:70px;
}
.our button{
	margin-top: 20px;
	padding: 10px 40px 10px 40px;
	color:black; 
	border-radius:10px;
	background-color:#487062;
}
.one img{
	width: 400px;
	padding-top: 100px;
	padding-bottom: 30px;
}
.one h2{
	font-family: Baskerville Old Face;
	color: #00291b;
	font-size: 40px;
}
.one p{
	text-align:left;
	margin-left:200px;
	margin-top:30px;
	font-family: Baskerville Old Face;
	color: #00291b;
	font-size:20px;
}
.two img{
	width: 500px;
	padding-top: 50px;
	padding-bottom: 30px;
}
.two h2{
	font-family: Baskerville Old Face;
	color: #00291b;
	font-size: 40px;
}
.two p{
	text-align:left;
	margin-left:200px;
	margin-top:30px;
	font-family: Baskerville Old Face;
	color: #00291b;
	font-size:20px;
}
.three img{
	width: 400px;
	padding-top: 100px;
	padding-bottom: 30px;
}
.three h2{
	font-family: Baskerville Old Face;
	color: #00291b;
	font-size: 40px;
}
.three p{
	text-align:left;
	margin-left:200px;
	margin-top:20px;
	font-family: Baskerville Old Face;
	color: #00291b;
	font-size:20px;
}
.about{
	background-color: #fcfaed;
	margin-top:1200px;
	height:1500px;
}
.about{
	text-align: center;
}
.aus{
	padding-top:100px;
	text-align: center;
}
.aus h2{
	font-size:70px;
		font-family: Baskerville Old Face;
	color: #00291b;
}
.aus p{
	font-family: Baskerville Old Face;
	color: #00291b;
	padding-top:100px;
	font-size:23px;
}
.aus button{
	margin-top: 50px;
	padding: 10px 40px 10px 40px;
	color:black; 
	border-radius:10px;
	background-color:#487062;
	margin-bottom:100px;
	float:left;
}
.aus img{
	padding:50px 0px;
}
.last_1 p{
	color: #174032;
	font-family: Alte Haas Grotesk;
	font-size: 20px;
	padding-top:80px;
}
.last_1{
	border-right: 2px solid black;
}
.last_2 p{
	color: #174032;
	font-family: Alte Haas Grotesk;
	font-size: 20px;
	padding-top:80px;
}
.last_2{
	border-right: 2px solid black;
	height:250px;
}
.last_3 p{
	font-family: Californian FB;
	color: #174032;
	font-size: 18px;
	padding-top:80px;
}
.last_3 h1{
	font-family: Colonna MT;
	font-size:70px;
	color: #174032;
	padding-top:80px;
}
.last_3 img{
	width:40px;
}
.last_logo{
	border-bottom:2px solid black;
	padding-top:400px;
	height:10px;
}
.last_logo p{
	float: left;
	margin-top:30px;
	margin-left:20px;
}



@media only screen and (max-width:768px)
{
	.col-3{width:50%}.menu{display: none;}
	.banner_half{
		margin-top:-20%;
		margin-left:10%;
	}
	.banner_img img{
		display:none;
	}
	.banner_img{
	width:950px;
	}
	.banner_img h1{
		font-size:350%;
		text-align: center;
	}
	.aus img{
		width:90%;
	}
	.why{
		margin-top:100px;
		margin-left:20%;
	}
	.why p2{
		margin-top:10%;
		margin-right:20%;
	}
	.stay{
		height:1090px;
		width:950px;
	}
	.our{
		margin-left:100px;
	}
	.our img{
		width:100%;
	}
	.one{
		width:99%;
	}
	.two{
		width:99%;
	}
	.three{
		width:99%;
	}
	.about{
		margin-top:530%;
		width:950px;
	}
	.about button{
		margin-left:1%;
	}
	.last_3 h1{
		font-size:300%;
	}
}
@media only screen and (max-width:320px)
{
	.col-3{width:100%}.menu{display: none;}
	.banner_half{
		margin-left:100px;
		width:200%;
		height:100%;
		margin-top:-50%;
	}
	.why{
		margin-left:10%
	}
	.our{
		width:300%;
		margin-left:-1px;
	}
	.our p{
		margin-left:340px;
	}
	.about{
		margin-top:4700px;
	}
	.why{
		width:980%;
	}
	.stay{
		height:1950px; 
	}
}















